.container1 {
  background-color: #47a848;
  position: fixed;
  z-index: 1;
  height: 50px !important;
}

.arrow-prev {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.arrow-next {
  color: white;
  font-size: 25px !important;
  font-weight: 600;
}

.scroll-menu-arrow {
  padding: 5px 20px !important;
  cursor: pointer;
}

.menu-wrapper {
  margin: 0px 10px;
}

.menu-item-wrapper {
  color: white;
}

.menu-item {
  padding: 0 10px;
  margin: 5px;
  /* margin-right: 25px; */
  /* margin-left: 25px; */
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  height: 35px;
  text-align: center;
  vertical-align: center;
  line-height: 35px;
  text-decoration: none;
  color: white;
}

.horizontal-menu {
  height: 50px !important;
}

.active .menu-item {
  color: #47a848;
  border-radius: 40px;
  background-color: white !important;
  border: 1px #47a848 solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

*:focus {
  outline: none !important;
}

@media screen and (max-width: 600px) {
  .scroll-menu-arrow {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .menu-wrapper {
    /* width: 100%; */
    margin: 0 auto;
    padding: 0px 5px;
  }

  .menu-item {
    margin-right: 0px;
    margin-left: 0px;
  }

  .scroll-menu-arrow {
    padding: 5px 8px !important;
    cursor: pointer;
  }
  .arrow {
    display: none;
  }
}
